$grass: #9bcc50;
$poison: #b97fc9;
$fire: #fd7d24;
$water: #4592c4;
$flying: #3dc7ef;
$bug: #729f3f;
$normal: #a4acaf;
$ground: #796553;
$fairy: #fdb9e9;
$fighting: #ba3539;
$psychic: #c14797;
$rock: #918378;
$steel: #9eb7b8;
$ghost: #7b62a3;
$ice: #6acff4;
$dragon: #5f493a;

$theme-800: #2b3940;
$theme-400: #607783;
$theme-red: #ef5350;
$theme-blue: #2a75bb;
$theme-yellow: #ffcb05;

$base: all 0.3s ease-in-out;


$font-body: 'Roboto Flex', sans-serif;
$font-heading: 'Luckiest Guy', cursive;