main {
  padding-inline: 5rem;
  padding-block: 3.6rem;
}
.char__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;

  max-width: 114rem;
  width: 100%;
  margin-inline: auto;
}