@use "@scss/abstracts/variables" as *;

.filter__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  flex: 0 0 100%;

  background-color: #f2f2f2;
  padding-block: 1.25rem;

  > div {
    // flex: 1;
  }

  .filter__show,
  .filter__start {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .input__group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  h4 {
    color: $theme-600;
    font-size: 1.8rem;
    font-weight: 600;
  }

  input {
    font-size: 1.8rem;
    text-align: center;
    width: 7.5rem;
    border: 2px solid $theme-800;

    &:disabled {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }
}

.filter__submit {

  button {
    color: white;
    font-size: 1.8rem;
    font-family: $font-heading;

    min-width: 24rem;

    background-color: $theme-red;
    border: 2px solid $theme-red;

    transition: all 0.125s ease-out;

    &:hover {
      color: $theme-red;
      background-color: transparent;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.5;

      &:hover {
        color: white;
        background-color: $theme-red;
      }
    }
  }
}

.filter__reset {
  button {
    color: $theme-800;
    font-size: 1.8rem;
    font-family: $font-heading;
    min-width: 24rem;
    background-color: $theme-yellow;
    border: 2px solid $theme-yellow;

    transition: all 0.125s ease-out;

    &:hover {
      background-color: transparent;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.5;

      &:hover {
        background-color: $theme-yellow;
      }
    }
  }
}